name: Check CREBS Results

on:
  schedule:
    # Runs at 06:00, 12:00, 18:00, and 00:00 UTC everyday
    - cron: '0 */6 * * *'
  workflow_dispatch: # Allows you to run it manually from the Actions tab

jobs:
  check-results:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install dependencies
      run: npm install

    - name: Run Scraper
      env:
        USER_EMAIL: ${{ secrets.USER_EMAIL }}
        USER_PASSWORD: ${{ secrets.USER_PASSWORD }}
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      run: node index.js
